*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(273, 75%, 66%)), to(hsl(240, 73%, 65%))) fixed;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: 10% auto 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 43px -8px rgba(0, 0, 0, 0.72);
    width: 23.4375em;
}

.background {
    background: url("images/bg-pattern-mobile.svg") no-repeat top;
    background-size: contain;
    min-height: 6.5em;
    position: relative;
}

.faq {
    position: relative;
}

.woman {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -14.5625em;
}

.background img {
    position: absolute;
    display: none;
}


.woman img {
    width: 15em;
}

.faq h1 {
    color: hsl(238, 29%, 16%);
    margin-bottom: 10px;
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    padding: 0 1.875em;
    margin-bottom: 3.125em;
}

.qa {
    border-bottom: 1px hsl(240, 5%, 91%) solid;
}

.qa a, p {
    font-size: 0.75rem;
    text-decoration: none;
}

.qa a {
    color: hsl(237, 12%, 33%);
    margin: 0.75em 0;
}

.qa p {
    color: hsl(240, 6%, 50%);
    margin-top: 0;
}

.x {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.x button {
    display: flex;
    background-color: transparent;
    border: 0;
    align-self: center;
    cursor: pointer;
}

.answer {
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.qa.active .answer {
    height: 3em;
    max-width: 95%;
}

.qa.active .more {
    height: 4em;
    max-width: 95%;
}

.qa.active .x a {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

.x .q:active, .q:hover {
    color: hsl(14, 88%, 65%);
    font-weight: 700;
}

@media (max-width: 352px) {
    .qa.active .answer {
        height: 4.5em;
    }

    .answer p {
        font-size: 0.6875rem;
    }
}

@media (min-width: 490px) {
    .card h1 {
        font-size: 2.1875rem;
    }

    .x a {
        font-size: 0.875rem;
    }

    .answer p {
        font-size: 0.875rem;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0 auto;
    }

    .card {
        display: flex;
        min-width: 53.4375em;
    }

    .card h1 {
        font-size: 1.5625rem;
        text-align: left;
        padding: 0 3.125rem;
        margin: 2.8125rem 0 1.25rem;
    }

    .background {
        width: 100%;
        background: url("images/bg-pattern-desktop.svg") no-repeat 103% 68%,
        url("images/illustration-woman-online-desktop.svg") no-repeat 125% 42%;
    }

    .questions {
        margin-bottom: 5rem;
        padding-right: 5.625rem;
        padding-left: 3.125rem;
    }

    .qa a {
        margin: 1.25rem 0;
    }

    .x a {
        font-size: 0.875rem;
    }

    .woman {
        display: none;
    }

    .background img {
        display: flex;
        left: -23%;
        right: 0;
        top: 39%;
    }
}